.div-dropdown {
  width: 20rem;
  border-bottom: 1px solid var(--bko-color-tertiary);
}

.label-dropdown {
  margin: 0 0 5px 0;
}

.hidden-dropdown {
  visibility: hidden;
}

.p-dropdown {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.p-placeholder {
  color: var(--bko-color-text-secondary);
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: white !important;
}
