.p-stepper-panels {
  background-color: var(--bko-color-background-on-background);
  border-top: 0.3px solid var(--bko-color-tertiary);
}

.p-stepper-separator {
  align-self: start;
  background-color: var(--bko-color-stepper-separator);
  opacity: 1 !important;
  margin-top: 1rem;
  margin-left: 0;
}

.p-stepper-separator.completed {
  background-color: var(--bko-color-primary);
}

.p-stepper-title {
  font-size: 14px;
}

.p-stepper-header.p-disabled,
.p-stepper-header-bottom.p-disabled {
  padding: 0;
  margin-bottom: 1.5rem;
  opacity: 1 !important;

  .p-stepper-action,
  .p-component {
    opacity: 0.4 !important;

    .p-stepper-number {
      background-color: var(--bko-color-background);
      height: 1.5rem;
      min-width: 1.5rem;
    }
  }
}

.p-stepper-header.p-highlight.p-stepper-header-bottom {
  padding: 0;
  margin-bottom: 1.5rem;
  .p-stepper-action,
  .p-component {
    .p-stepper-number {
      border: 1px solid var(--bko-color-primary);
      background: linear-gradient(to right, var(--bko-color-primary), var(--bko-color-background));
      height: 1.5rem;
      min-width: 1.5rem;
    }
  }
}

.custom-stepper-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--bko-color-text);
  font-size: 0.7rem;
  margin-top: 1rem;

  &::after {
    content: attr(data-sub-label);
    display: block;
    font-size: 0.9rem;
    color: var(--bko-color-text);
    margin-top: 0.5rem;
  }
}

.p-stepper-number.completed {
  color: transparent; /* nasconde il testo numerico */
  font-size: 0; /* alternativa per sicurezza */
}
.p-stepper-number.completed.pi.pi-check::before {
  font-size: 14px;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--bko-color-background-on-background);
  border-radius: 50%;
}
