@use "../../styles/variables.scss" as v;
.action-button {
  .p-button {
    color: v.$text-on-dark;
    border-color: v.$bc-button-primary;
    background-color: v.$bg-button-primary;
  }
}

.reset-button {
  .p-button {
    color: v.$text-on-dark;
    border-color: v.$bc-button-secondary;
    background-color: v.$bg-button-secondary;
  }
}

.trasparent-button {
  .p-button {
    color: v.$text-main;
    border-color: transparent;
    background-color: transparent;
  }
}

.trasparent-button-clear {
  .p-button {
    color: v.$text-on-dark;
    border-color: transparent;
    background-color: transparent;
  }
}

.trasparent-danger-button {
  .p-button {
    color: v.$text-red;
    border-color: transparent;
    background-color: transparent;
  }
}

.div-button {
  display: flex;
  border-radius: 20px;

  &.invisible {
    display: none;
  }

  button {
    &.compact {
      width: fit-content;
    }
  }
}

.div-icon-label-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.313rem;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.compact {
    width: fit-content;
  }

  // stato base (non compatto)
  &:not(.compact) {
    width: 100%;
  }
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.span-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.table-add-button {
  .p-button {
    width: 100%;
    color: v.$text-main;
    border: 1px dashed v.$text-main;
    background-color: transparent;
    .div-icon-label-button {
      justify-content: flex-start !important; /* sposta il contenuto a sinistra */
      text-align: left !important;
    }
  }
}

.add-transaction-button {
  .p-button {
    justify-content: center !important;
    max-width: 4rem !important;
    max-height: 4rem !important;
    color: v.$text-on-dark;
    border: none;
    background-color: v.$btn-light;
    .icon-button {
      font-size: 1.5rem;
    }
  }
}

.add-category-button,
.add-account-button,
.add-tag-button,
.add-transaction-button {
  .p-button {
    justify-content: center !important;
    max-width: 4rem !important;
    max-height: 4rem !important;
    width: 4rem;
    height: 4rem;
    color: v.$text-on-dark;
    border: none;
    background-color: v.$btn-light;
    .icon-button {
      font-size: 1.5rem;
    }
  }
}

.add-subcategory-button {
  .p-button {
    width: 100%;
    color: v.$text-main;
    border: none;
    background-color: transparent;
    .div-icon-label-button {
      justify-content: flex-start !important; /* sposta il contenuto a sinistra */
      text-align: left !important;
    }
  }
}
