.div-multiselect {
  width: 20rem;
  border-bottom: 1px solid var(--bko-color-tertiary);
}

.p-multiselect {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
/* Label normale sopra input */
.label-multiselect {
  margin: 0 0 0.25rem 0;
}

.hidden-multiselect {
  visibility: hidden;
}

.p-multiselect-token {
  background-color: var(--bko-color-chips);
  color: white;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: white !important;
}
