.div-table-visualization {
  &.invisible {
    display: none;
  }

  .table-row-disabled {
    opacity: 0.5;
    pointer-events: none; // disabilita click, hover, ecc.
    cursor: not-allowed;
  }
}

.p-datatable-thead tr {
  background: linear-gradient(to right, var(--bko-color-background), var(--bko-color-gradient-table)) !important;
  border: 1px solid var(--bko-color-border-table) !important;
}
.p-datatable-thead th {
  border-bottom: none;
  background: transparent !important;
}

.p-datatable-tbody tr {
  background: transparent !important;
}

.p-datatable-tbody th {
  background: transparent !important;
}

.p-datatable-tbody td {
  border-bottom: none;
  border-top: 0.3px solid var(--bko-color-border-table);
  background: transparent !important;
}

.p-datatable-tbody tr[aria-selected='true'] td {
  border-top: 1px solid var(--bko-color-primary) !important;
  border-bottom: 1px solid var(--bko-color-primary) !important;
  //color: color-mix(in srgb, var(--bko-color-primary) 80%, white) !important;
}

.p-datatable-tbody tr[aria-selected='true'] td:first-child {
  border-left: 1px solid var(--bko-color-primary) !important;
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

.p-datatable-tbody tr[aria-selected='true'] td:last-child {
  border-right: 1px solid var(--bko-color-primary) !important;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}

.p-paginator-bottom.p-paginator.p-component {
  border: none !important;
  background-color: var(--bko-color-background-on-background) !important;
}

.p-paginator-page.p-paginator-element.p-link.p-paginator-page-start.p-paginator-page-end.p-highlight {
  background-color: var(--bko-color-background !important);
  border-color: var(--bko-color-paginator-button) !important;
}

.p-datatable .p-datatable-tbody > tr.p-highlight {
  color: var(--bko-color-primary) !important;
}
