@use "../../styles/variables.scss" as v;

.credit-card {
  position: relative; // Necessario per il posizionamento dei pulsanti
  padding: 1.5rem;
  border-radius: 16px;
  height: 11.25rem;
  width: 20rem;
  min-width: 20rem;
  min-height: 11.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

  &__actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 0.25rem;
    z-index: 2; // Sopra la decorazione
  }

  &__name {
    font-size: 1.1rem;
    font-weight: 600;
    opacity: 0.9;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.6));
  }

  &__balance-label {
    display: block;
    font-size: 0.8rem;
    text-transform: uppercase;
    opacity: 0.8;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
  }

  &__balance-value {
    font-size: 1.8rem;
    font-weight: 800;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
  }

  &__decoration {
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 6.25rem;
    height: 6.25rem;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
  }
}
