@use "../../styles/variables" as v;

/* Wrapper del componente */
.p-inputswitch {
  width: 3rem;
  height: 1.7rem;
}
.p-inputswitch.p-highlight .p-inputswitch-slider {
  background-color: v.$bg-button-primary !important;
  &:before {
    background-color: v.$bg-card !important; // Bianco in Light, Antracite in Dark
  }
}

.p-inputswitch .p-inputswitch-slider {
  background-color: v.$bar-gray !important;
  &:before {
    background-color: v.$bg-card !important; // Bianco in Light, Antracite in Dark
  }
}

.p-inputswitch:not(.p-disabled):focus-within .p-inputswitch-slider {
  box-shadow: none !important;
}

/* Label sopra lo switch */
.label-switch {
  display: block;
  margin: 0 0 5px 0;
  color: v.$text-main;
  font-family: v.$font-main;
  font-size: 0.85rem;
  font-weight: 600;
}
