.div-table-edit {
  width: 100%;
  min-width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.invisible {
    display: none;
  }

  .table-add-button {
    margin-bottom: 1rem;
    display: block;
    width: max-content;
  }

  .p-datatable {
    width: max-content;
    min-width: 100%;
  }
}

.p-datatable-thead tr {
  background: linear-gradient(to right, var(--bko-color-background), var(--bko-color-gradient-table));
  border: 1px solid var(--bko-color-border-table);
}
.p-datatable-thead th {
  border-bottom: none;
  background: transparent !important;
}

.p-datatable-tbody tr {
  background: transparent !important;
}

.p-datatable-tbody th {
  background: transparent !important;
}

.p-dropdown-filter-container {
  .p-inputtext {
    border: 1px solid var(--bko-color-border-table);
  }
}
