.chip-singleselect {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 4px 12px;

  .tag-item {
    border-radius: 28px;
    border: solid 1px #999;
    padding: 4px 8px 4px 4px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.active {
      border: solid 1px white;
    }
  }

  .circle {
    width: 20px;
    height: 20px;
    flex-grow: 0;
    border-radius: 200px;
    border: solid 1px #999;

    &.checked {
      border: solid 1px var(--bko-color-primary);
      background-color: var(--bko-color-primary);
    }
  }
}
