@use "../../styles/variables" as v;

.home-page-wrapper {
  padding: 1rem;
  background-color: v.$bg-app;
  font-family: v.$font-main;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    h1 {
      // Usiamo una dimensione coerente con la gerarchia h2/h3 degli altri componenti
      font-size: 1.5rem;
      margin: 0;
      color: v.$text-main;
      font-weight: 700;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .add-transaction-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1000; // Assicura che il pulsante sia sopra altri elementi
  }

  /* OTTIMIZZAZIONE MOBILE */
  @media (max-width: v.$mobile) {
    padding: 0.75rem;

    .header {
      margin-bottom: 1.5rem;
      h1 {
        font-size: 1.25rem;
      }
    }
  }
}
