// src/styles/_variables.scss

:root {
  // Tema Chiaro (Default)
  --bg-app: #f4f7f6;
  --bg-dark: #121212;
  --bg-card: #ffffff;
  --bg-dialog: #ffffff;
  --border-dialog: #dce2e1;
  --bg-table-paginator-selected: #e0e0e0;
  --bg-gradient-table: #f9f9f9;
  --border-table: #dce2e1;
  --bg-datepicker-header: #1f2937;
  --bg-datepicker-today: rgba(34, 211, 238, 0.16);
  --text-main: #333333;
  --text-account: #f0f0f0;
  --text-on-dark: #f0f0f0;
  --text-muted: #95a5a6;
  --border-color: #e0e0e0;
  --bar-neutral: #333333;
  --bar-gray: #e0e0e0;
  --bar-green: #2ecc71;
  --bar-red: #e74c3c;
  --btn-light: #95a5a6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-app: #121212;
    --bg-dark: #f4f7f6;
    --bg-card: #1e1e1e;
    --bg-dialog: #1e1e1e;
    --border-dialog: #333333;
    --bg-table-paginator-selected: #2c2c2c;
    --bg-gradient-table: #252525;
    --border-table: #333333;
    --bg-datepicker-header: #e0e3e7;
    --bg-datepicker-today: #3cfbfba1;
    --text-main: #f0f0f0;
    --text-account: #f0f0f0;
    --text-on-dark: #333333;
    --text-muted: #b0b0b0;
    --border-color: #333333;
    --bar-neutral: #f0f0f0;
    --bar-gray: #333333;
    --bar-green: #2ecc71;
    --bar-red: #e74c3c;
    --btn-light: #b0b0b0;
  }
}

$light-blue: #3498db;
$light-gray: #7f8c8d;
$red: #e74c3c;
$green: #2ecc71;

// Mappatura variabili SCSS
$bg-app: var(--bg-app);
$bg-dark: var(--border-dialog);
$bg-card: var(--bg-card);
$bg-dialog: var(--bg-dialog);
$border-dialog: var(--border-dialog);
$border-table: var(--border-table);
$bg-table-paginator-selected: var(--bg-table-paginator-selected);
$bg-datepicker-header: var(--bg-datepicker-header);
$bg-datepicker-today: var(--bg-datepicker-today);
$bg-chips: $light-gray;
$bg-button-primary: $light-blue;
$bc-button-primary: $light-blue;
$bg-button-secondary: $light-gray;
$bc-button-secondary: $light-gray;
$bg-gradient-table: var(--bg-gradient-table);
$text-main: var(--text-main);
$text-account: var(--text-account);
$text-on-dark: var(--text-on-dark);
$text-muted: var(--text-muted);
$text-red: $red;
$text-green: $green;
$border-color: var(--border-color);
$shadow-color: var(--shadow-color);
$bar-neutral: var(--bar-neutral);
$shadow-color: 0 4px 6px rgba(0, 0, 0, 0.05);
$bar-gray: var(--bar-gray);
$bar-green: $green;
$bar-red: $red;
$btn-light: var(--btn-light);

// --- Breakpoints per il responsive ---
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

// Typography
$font-main:
  "Inter",
  -apple-system,
  BlinkMacSystemFont,
  sans-serif;
