.filters-panel {
  width: 25rem;

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 16px;
  }

  .filter-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    gap: 1rem;
  }
}
