@use "../../styles/variables" as v;

.tag-page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  height: 100%; // Occupa tutta l'altezza disponibile
  animation: fadeIn 0.3s ease-in;
  padding: 1rem;

  .page-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 1rem;
    border-bottom: 1px solid v.$border-color;

    h1 {
      margin: 0;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      color: var(--text-color);
    }
  }

  .split-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0; // Fondamentale per far funzionare lo scroll interno
  }

  .tag-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;

    .scrollable-area {
      flex: 1;
      overflow-y: auto;
      padding-right: 0.5rem;
      padding-bottom: 6rem; // Spazio extra in fondo per non coprire le card con il FAB button "+"

      display: flex;
      flex-direction: column;

      .tag-section {
        .tags-grid {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          align-content: flex-start;
          animation: fadeIn 0.3s ease-in;
        }

        .no-data {
          color: var(--text-color-secondary);
          font-style: italic;
        }
      }

      // Stile scrollbar discreto
      &::-webkit-scrollbar {
        width: 0.313rem;
      }
      &::-webkit-scrollbar-thumb {
        background: v.$border-color;
        border-radius: 10px;
      }
    }
  }

  // Bottone "+" Fluttuante
  .add-tag-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}

// Animazione
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
