/* Contenitore principale */
.div-inputtext {
  border-bottom: 1px solid var(--bko-color-tertiary);
}

/* Wrapper interno input + icone */
.div-div-inputtext {
  display: flex;
  align-items: center;
}

/* Icone */
.icon-inputtext {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

/* Input primereact */
.p-inputtext {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
}

.p-invalid {
  border: 0.5px solid red !important;
}

/* Label normale sopra input */
.label-inputtext {
  margin: 0 0 0.25rem 0;
}
