.step-title-container {
  display: flex;
  flex-direction: column;
  gap: var(--bko-space-md);

  .title {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.96px;
  }

  .subtitle {
    font-size: var(--bko-space-md);
    font-weight: normal;
    line-height: 1.25;
    letter-spacing: -0.48px;
    white-space: pre-line;
  }
}
