@use "../../styles/variables" as v;

.auth-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: v.$bg-app; // Aggiunto per coprire l'intera pagina
}

.auth-container {
  background: v.$bg-card; // Convertito var
  padding: 2.5rem;
  width: 100%;
  max-width: 28.125rem;
  border-radius: 12px;

  // Ombra dinamica coerente con il sistema
  box-shadow: v.$shadow-color;

  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 2rem;
    font-size: 1.75rem;
    color: v.$text-main;
    text-align: center;
    font-weight: 700;
    font-family: v.$font-main;
  }

  .input-email,
  .input-username,
  .input-password {
    margin-bottom: 1.5rem;
    width: 100%;

    // Integrazione specifica per PrimeReact Password
    .p-password {
      width: 100%;

      input {
        width: 100%; // Forza l'input interno a larghezza piena
      }

      > div {
        width: 100%;
      }
    }
  }

  .btn-submit {
    margin-top: 1rem;
    width: 100%;
    height: 2.8125rem;
    font-weight: 600;
    transition: transform 0.2s;

    .p-button {
      width: 100%;
      background-color: v.$bg-button-primary;
      border-color: v.$bc-button-primary;
      height: 100%;
    }

    &:active {
      transform: scale(0.98);
    }
  }

  .auth-toggle-text {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 0.9375rem;
    color: v.$text-muted; // Usato muted per il testo "non-cliccabile"

    span {
      color: v.$bg-button-primary; // Usato il colore primario per l'azione
      font-weight: 600;
      cursor: pointer;
      margin-left: 0.5rem;

      &:hover {
        text-decoration: underline;
        filter: brightness(1.2);
      }
    }
  }
}

/* OTTIMIZZAZIONE MOBILE */
@media (max-width: v.$mobile) {
  .auth-container {
    padding: 1.5rem;
    box-shadow: none; // Look più flat su mobile
    border: 1px solid v.$border-color;
    background-color: v.$bg-card;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
}
