// src/index.scss o src/App.scss
@use "./styles/variables" as v;

body {
  margin: 0;
  padding: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  // Applichiamo lo sfondo variabile
  background-color: v.$bg-app;

  // Applichiamo anche il colore del testo di base per evitare scritte invisibili
  color: v.$text-main;

  // Aggiungiamo una transizione fluida per quando si cambia tema
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
