.custom-card-container {
  border: solid 1px rgba(58, 65, 73, 0.4);
  background: linear-gradient(292deg, #101820 0%, #242c34 100%), #3a4149;

  border-radius: 24px;
  padding: 1rem;
  max-width: 19.55rem;
  width: 19.55rem;
  height: 10rem;
  overflow: auto;

  display: grid;
  grid-template-columns: var(--bko-space-46) 1fr var(--bko-space-46);
  grid-template-rows: auto auto auto;
  gap: 1rem;
  align-items: center;

  &.no-icon {
    @extend .custom-card-container;
    grid-template-columns: 1fr var(--bko-space-46);
  }

  &.is-clickable {
    cursor: pointer;
  }

  .description {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    gap: var(--bko-space-md);
  }

  .description-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
  }

  .title-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .version {
    display: flex;
    align-items: center;
  }

  .tags {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
  }

  .tag-item {
    border-radius: 28px;
    border: solid 1px #999;
    padding: 0.25rem 0.75rem;
  }
  .stats-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .cell {
      display: flex;
      flex-direction: column;
    }
  }

  .title-wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: hidden; /* Limita il contenitore */
  }

  .title-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  .description-text,
  .version {
    min-height: 1em;
  }

  .empty-placeholder {
    visibility: hidden;
  }
}
